services:
  app:
    build:
      context: ./app
    container_name: demo-monitoring-app
    environment:
      APP_HOST: 0.0.0.0
      APP_PORT: 8000
    ports:
      - "8000:8000"
    networks:
      - monitoring_net

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - app
    networks:
      - monitoring_net

  telegram-webhook:
    build:
      context: ./telegram-webhook
    container_name: telegram-webhook
    environment:
      TELEGRAM_BOT_TOKEN: "7535602401:AAFQR-bWvtX2Im9xwwknWCx93iETzDSKulg"
      TELEGRAM_CHAT_ID: "988359901"
    networks:
      - monitoring_net

  alertmanager:
    image: prom/alertmanager:v0.26.0
    container_name: alertmanager
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/alertmanager"
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - ./alertmanager/notification.tmpl:/etc/alertmanager/notification.tmpl:ro
      - alertmanager_data:/alertmanager
    env_file:
      - ./alertmanager/.env
    ports:
      - "9093:9093"
    depends_on:
      - mailpit
      - telegram-webhook
    networks:
      - monitoring_net

  grafana:
    image: grafana/grafana:10.4.1
    container_name: grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin123
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: mailpit:1025
      GF_SMTP_FROM_ADDRESS: grafana@demo-monitoring.local
      GF_PANELS_DISABLE_SANITIZE_HTML: "true"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./grafana/dashboards:/etc/grafana/dashboards:ro
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - monitoring_net

  mailpit:
    image: axllent/mailpit:v1.15
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - monitoring_net

networks:
  monitoring_net:
    driver: bridge

volumes:
  prometheus_data:
  alertmanager_data:
  grafana_data:
